.container {
  width: 90%;
  max-width: var(--site-max-width);
  margin-top: var(--spacing-dog);
  margin-right: auto;
  margin-bottom: var(--spacing-gerbil);
  margin-left: auto;
}

.main {
  margin-top: var(--spacing-mouse);
  margin-bottom: var(--spacing-gerbil);
}
