.container {
  width: 90%;
  max-width: var(--site-max-width);
  margin-top: var(--spacing-cat);
  margin-right: auto;
  margin-bottom: var(--spacing-ant);
  margin-left: auto;
}

.main {
  margin-bottom: var(--spacing-gerbil);
}
