.headerCompact {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: var(--spacing-ant);
  padding-bottom: var(--spacing-ant);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.headerInner {
  display: flex;
  align-items: center;
}

.headerLarge .headerInner {
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
}

.headerCompact .headerInner {
  justify-content: space-between;
  width: 90%;
  max-width: var(--site-max-width);
}

.headerTitle {
  font-size: var(--font-size-mouse);
  font-weight: 800;
  text-decoration: none;
  text-transform: lowercase;
  transition: color 0.2s ease;
}

.headerTitle:hover {
  color: var(--color-highlight);
  text-decoration: none;
}

.headerLargeTitle {
  font-size: var(--font-size-mouse);
  margin-top: 0;
  margin-bottom: var(--spacing-ant);
  text-transform: lowercase;
  white-space: nowrap;
}

.headerNavList {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.headerNavItem + .headerNavItem {
  margin-left: var(--spacing-ant);
}

@media screen and (min-width: 760px) {
  .headerNavItem + .headerNavItem {
    margin-left: var(--spacing-gerbil);
  }
}

.headerNavLink {
  text-decoration: none;
  color: var(--color-primary);
  font-size: var(--font-size-ant);
  text-transform: lowercase;
}

.headerNavLink:hover {
  text-decoration: underline;
  text-underline-offset: 1px;
}
