.form {
  display: flex;
  flex-direction: column;
  margin-top: var(--spacing-mouse);
  margin-bottom: var(--spacing-mouse);
}

.formRow {
  display: flex;
  flex-direction: column;
}

.formRow + .formRow {
  margin-top: var(--spacing-ant);
}

.formRow label {
  text-transform: lowercase;
  margin-bottom: var(--spacing-flea);
}

.formRow input,
.formRow textarea {
  border: 1px solid var(--color-ghost);
  min-height: 40px;
  padding: var(--spacing-flea);
}

.formRow textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 600px;
}

.formSubmit {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  align-self: flex-start;
  margin-top: var(--spacing-mouse);
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  text-transform: lowercase;
}
