:root {
  --site-max-width: 900px;

  /* Font Sizes */
  --font-size-flea: 0.8rem;
  --font-size-ant: 1rem;
  --font-size-beetle: 1.2rem;
  --font-size-mouse: 1.5rem;
  --font-size-gerbil: 2rem;

  /* Spacing */
  --spacing-flea: 0.5rem;
  --spacing-ant: 1rem;
  --spacing-mouse: 2rem;
  --spacing-gerbil: 3rem;
  --spacing-cat: 4rem;
  --spacing-dog: 5rem;
  --spacing-horse: 6rem;
  --spacing-whale: 8rem;

  /* Colours */
  --color-primary: #000000;
  --color-secondary: #ffffff;
  --color-light: #757575;
  --color-ghost: #d8d8d8;
  --color-highlight: #ec6f59;
}

@font-face {
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
  src: url('./fonts/CrimsonPro.woff2') format('woff2');
}

@font-face {
  font-family: 'Crimson Pro';
  font-style: italic;
  font-weight: 200 900;
  font-display: swap;
  src: url('./fonts/CrimsonPro-Italic.woff2') format('woff2');
}

::selection {
  background-color: var(--color-highlight);
  color: var(--color-primary);
}

html {
  font-family: 'Crimson Pro', 'Times New Roman', Times, serif;
  font-size: clamp(
    16px,
    calc(1rem + (20 - 16) * ((100vw - 320px) / (900 - 320))),
    20px
  );
  font-weight: 400;
  line-height: 1.5;
  min-height: 0vw;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--color-primary);
}

a:hover {
  text-decoration: underline;
}

p:not([class]) + p:not([class]) {
  margin-top: var(--spacing-ant);
}

* + .gatsby-image-wrapper {
  margin-top: var(--spacing-mouse);
  margin-bottom: var(--spacing-ant);
}

@media only screen and (min-width: 600px) {
  * + .gatsby-image-wrapper {
    margin-bottom: var(--spacing-mouse);
  }
}

a,
input,
button,
textarea {
  outline-offset: 4px;
}

input,
textarea {
  outline: 2px solid transparent;
  outline-offset: -2px;
  transition: outline 0.2s ease;
}

a:focus-visible,
input:focus-within,
button:focus-within,
textarea:focus-within {
  outline: 2px solid var(--color-highlight);
}

h1 {
  font-size: var(--font-size-mouse);
}

@media screen and (max-width: 600px) {
  h1,
  h2 {
    font-size: var(--font-size-beetle);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: var(--spacing-ant);
  text-transform: lowercase;
  font-weight: 800;
}

p:not([class]) + h1,
p:not([class]) + h2,
p:not([class]) + h3,
p:not([class]) + h4,
p:not([class]) + h5,
p:not([class]) + h6 {
  margin-top: var(--spacing-mouse);
}

img {
  display: block;
}
.unstyled-list {
  list-style: none;
  padding: 0;
  margin-top: var(--spacing-mouse);
  margin-bottom: var(--spacing-mouse);
}

.grid-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--spacing-mouse);
}

@media only screen and (min-width: 600px) {
  .grid-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.faux-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
}

.return-link {
  text-transform: lowercase;
}

.hero-image {
  margin-bottom: var(--spacing-gerbil);
}


.about-header {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-mouse);
}

@media only screen and (min-width: 600px) {
  .about-header {
    flex-direction: row;
  }
}

.about-header-image-wrapper {
  margin-bottom: var(--spacing-ant);
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .about-header-image-wrapper {
    margin-right: var(--spacing-mouse);
    margin-bottom: 0;
    max-width: 350px;
  }
}

@media only screen and (max-width: 600px) {
  .about-header-image > div {
    margin: 0;
    height: 0;
    padding-bottom: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .about-header-content,
  .about-header-image-wrapper {
    flex-basis: 50%;
  }
}

@media only screen and (min-width: 900px) {
  .about-header-content {
    flex-basis: 60%;
  }

  .about-header-image-wrapper {
    flex-basis: 40%;
  }
}

.journal-subtitle {
  font-size: var(--font-size-flea);
  font-style: italic;
  color: var(--color-light);
  margin-top: var(--spacing-flea);
  margin-bottom: var(--spacing-ant);
}

.journal-subtitle + p {
  margin-bottom: var(--spacing-ant);
}

@media only screen and (min-width: 600px) {
  .journal-subtitle + p {
    margin-bottom: var(--spacing-gerbil);
  }
}
